<%- include('../partials/header', { title: 'Sửa sản phẩm' }) %>

    <section class="card">
        <h2>Cập nhật sản phẩm</h2>
        <%- include('form', { action: `/products/${product.id}`, method: 'PUT' , submitText: 'Cập nhật' , formData,
            errors, requireImage: false }) %>
    </section>

    <%- include('../partials/footer') %>